# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow specific directories (must end with /)
!configs/
!src/

# Allow all shell scripts
!*.sh
run_roms_forcings124.sh
run_roms_forcings62.sh

# Optional: If you want to keep specific files inside the allowed folders
!configs/**
!src/**
src/__pycache__/
*.pyc
src/.results_path_local*
